/*****************************************************************************/
/* Font imports.                                                             */
/*****************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600);

/*****************************************************************************/
/* General.                                                                  */
/*****************************************************************************/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
}

body::backdrop {
  background-color: white;
}

/* #page {
    display: flex;
    flex-direction: column;
} */

/*****************************************************************************/
/* Header.                                                                   */
/*****************************************************************************/

header {
    display: flex;
    gap: 10px;
    background-color: #2962FF;
    color: white;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

header div {    
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 70%;
}

/*****************************************************************************/
/* Main.                                                                     */
/*****************************************************************************/

main {
    /* overflow-y: scroll; */
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 87vh;
}

/*****************************************************************************/
/* Footer.                                                                   */
/*****************************************************************************/

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    background-color: #2962FF;
    height: 8vh;

    min-width: 100%;
}

footer nav {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
  }
  
footer .center {
  grid-column: 2/3;
  display: flex;
  gap: 20px;
  justify-content: center;
}

footer .right {
  grid-column: 3/4;
  display: flex;
  justify-content:flex-end;
  margin-right: 10px;
  position: relative;
}

.icon {
    cursor: pointer;
}

.icon img {
    color: white;
}

#more {
  /* margin-left: auto; */
  justify-self: flex-end;
}

.icon-caption {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.6rem;
    color: white;
    text-align: center;
    margin-top: -6px;
}

/* .copyright {
  grid-row: 2/3;
  justify-self: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkgray;
  font-size: 0.7rem;
  margin-top: 25px;
} */

bar-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    border: 1px solid darkgray;
    margin-top: 30px;
}

#legend {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 5px;
        width: 100%;
}

#targetColor {
    width: 20px;
    height: 10px;
    margin-top: 2px;
    border: 1px solid #64B5F6;
    background-color: #64B5F6;
    margin-right: 10px;
}

#actualColor {
    width: 20px;
    height: 10px;
    margin-top: 2px;
    border: 1px solid #81C784;
    background-color: #81C784;
}

#welcome {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#logo {
    max-width: 350px;
}

#dashboardTitle {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

#legend {
    margin-bottom: 150px;
}

#addGoal {
  position: fixed;
  bottom: 18vh;
  right: 7vw;
  background-color: #2962FF;
  width: 50px;
  height: 50px;
  border: 1px solid #2562FF;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* goal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goalForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 150px;
}

#goalForm input {
    height: 30px;
} */

/*************************************************************************************************/
/* Form input CSS from:                                                                          */
/* https://dev.to/adrianbdesigns/let-s-create-a-floating-label-input-with-html-and-css-only-4mo8 */
/*                                                                                               */
/*************************************************************************************************/

/* ---------------------------------------------- */
/* -------   Required CSS (customizable)  ------- */
/* ---------------------------------------------- */

:root {
  --color__accent: #6200ee;
  --color__disabled: #b388ff;

  --field__background: #f5f5f5;
  --field__background--hover: #e9e9e9;
  --input__border: rgba(0, 0, 0, 0.42);
  --input__border--hover: rgba(0, 0, 0, 0.62);
  --label__color: #222;

  --font__size: 16px;
  --font__family: Roboto, Arial, sans-serif;
}

.floating {
  margin-bottom: 2rem;
  background-color: var(--field__background);
  transition: background-color 0.2s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.floating:hover,
.floating:focus-within {
  background-color: var(--field__background--hover);
}

.floating__input {
  padding: 1.8rem 1rem 0.6rem;
  font-size: 1rem;
  border-bottom: 0.1rem solid var(--input__border);
  transition: border-color 0.2s ease;
  caret-color: var(--color__accent);
}

.floating:hover .floating__input {
  border-color: var(--input__border--hover);
}

.floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.floating__label::before {
  color: var(--label__color);
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 1rem;
  position: relative;
}

.floating__label::after {
  bottom: 1rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;
  background-color: var(--color__accent);
}

.floating__input:focus + .floating__label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.floating__input:placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
  color: var(--color__accent);
}

/* ---------------------------------------------- */
/* Other Styles                                   */
/* ---------------------------------------------- */

input {
  background: none;
  border-width: 0;
  display: block;
  width: 100%;
}

/* fieldset {
  padding: 3rem 2rem 1.5rem;
} */

/* legend {
  padding: 0 0.5rem;
} */

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.button {
  background: var(--color__accent);
  border-width: 0;
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color__disabled);
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  font-family: var(--font__family);
  margin-top: 2rem;
  background-color: #fff;
  padding: 2rem 3rem 4rem;
  width: 100%;
}

.form h1 {
  text-align: center;
}

/*****************************************************************************/
/* Dropdown menu.                                                            */
/*****************************************************************************/

.choices {
  /* display: none; */
  font-family: Roboto, Arial, sans-serif;
  position: absolute;
  /* display: inline-block; */
  /* height: 100px; */
  min-width: 150px;
  bottom: 10vh;
  right: 2vw;
  background-color: #f1f1f1;
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

/* Dropdown Content (Hidden by Default) */
.choice {
  padding: 12px 16px;
  /* padding-bottom: 5px; */
  /* display: none; */
  /* position: absolute;
  width: 100px;
  height: 100px;
  min-width: 160px;
  color: red; */
}

.choice:hover {
  background-color: lightgray;
  cursor: pointer;
  /* min-width: 100%; */
}

/*****************************************************************************/
/* Media queries.                                                            */
/*****************************************************************************/

@media only screen and (min-width: 65rem) {
  .form {
    width: 80%;
    box-shadow: 2px 2px 16px 3px rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-height: 45rem) {
  #addGoal {
    display: none;
  }
}


